.layout {
  display: grid;
  grid-template-columns: 360px 1fr; /* Ширина сайдбара 360px и оставшееся пространство для контента */
  grid-template-rows: auto 1fr; /* Высота шапки auto и оставшееся пространство для контента */
  height: 100vh; /* Полная высота вьюпорта */
  width: 100%;
}

.header {
  grid-column: 1 / -1; /* Шапка растягивается на весь широкий ряд */
  height: 124px;
}

.sidebar {
  grid-column: 1; /* Сайдбар занимает первую колонку */
  grid-row: 2; /* Сайдбар начинается после шапки */
  background-color: var(--white-color);
}

.main{
  grid-column: 2; /* Основной контент занимает вторую колонку */
  grid-row: 2; /* Основной контент начинается после шапки */
}
