.iprLinkBack {
  color: var(--Main-colors-Headline-text, #0B1F35);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 66px;
}

.statusIcon {
  transform: rotate(90deg);
}

.form {
  width: 636px;
  display: flex;
  flex-direction: column;
}

.iprContainer {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 48px;
}

.iprForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputEmployeeInfo {
  all: unset;
  display: block;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid var(--UI-Divider, #DCDCDD);
  background: var(--Input-Default, #EEEFF1);

  height: 84px;
  width: 100%;
  padding: 24px 12px 12px;
  box-sizing: border-box;

  color: var(--Main-colors-Main-text, #353539);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.avatar {
  width: 288px;
  height: 288px;
  border-radius: 50%;
}

.buttonsWrapper {
  display: grid;
  grid-template-columns: 193px 193px;
  column-gap: var(--gap-2xl);
}

