.layout {
  display: grid;
  column-gap: 24px;
  grid-template-columns: 193px 1fr;
  grid-template-rows: auto 1fr auto; /* Высота шапки, содержимого и футера */
  height: 100vh; /* Полная высота вьюпорта */
  width: 100%;
}

.header {
  grid-column: 1 / -1; /* Шапка растягивается на весь широкий ряд */
  height: 124px;
}

.sidebar {
  grid-column: 1; /* Сайдбар занимает первую колонку */
  grid-row: 2; /* Сайдбар начинается после шапки */
  background-color: var(--white-color);
}

.main{
  grid-column: 2; /* Основной контент занимает вторую колонку */
  grid-row: 2; /* Основной контент начинается после шапки */
}

.footer {
  grid-column: 1 / -1; /* Футер растягивается на весь широкий ряд */
  grid-row: 3; /* Футер располагается в третьей строке */
}
