.tableList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  padding: var(--gap-m);
  display: flex;
  align-items: center;
}

.row {
  grid-column-start: 1;
  grid-column-end: span 3;

}
