.titleWrapper {
  padding: var(--gap-m);
  display: flex;
  align-items: center;
}

.forRow {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 36.218% 42.897% 18% 1fr;
}

.forSpinner {
  grid-column: span 3;
  display: flex;
  height: 120px;
  justify-content: center;
}

.forError {
  padding-top: var(--gap-xl);
  grid-column: span 3;
  display: flex;
  justify-content: center;
}

.table {
  min-height: calc(76px + 120px * 5);
}
