.footer {
  height: 124px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 217px;
}

.footerList {
  all: unset;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer {
    max-height: 124px;
  }
  .footerList {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .footerList {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
