:root {
  --color-white: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

.text_centered {
  text-align: center;
}

.elem_centered {
  margin-left: auto;
  margin-right: auto;
}

.listGlobal {
  padding: 0;
  margin: 0;
  list-style: none;
}
